<main class="loaded">
  <div class="loaders">
    <div class="loader">
      {{loader-ball-pulse}}
    </div>
    <div class="loader">
      {{loader-ball-grid-pulse}}
    </div>
    <div class="loader">
      {{loader-ball-clip-rotate}}
    </div>
    <div class="loader">
      {{loader-ball-clip-rotate-pulse}}
    </div>
    <div class="loader">
      {{loader-square-spin}}
    </div>
    <div class="loader">
      {{loader-ball-clip-rotate-multiple}}
    </div>
    <div class="loader">
      {{loader-ball-pulse-rise}}
    </div>
    <div class="loader">
      {{loader-ball-rotate}}
    </div>
    <div class="loader">
      {{loader-cube-transition}}
    </div>
    <div class="loader">
      {{loader-ball-zig-zag}}
    </div>
    <div class="loader">
      {{loader-ball-zig-zag-deflect}}
    </div>
    <div class="loader">
      {{loader-ball-triangle-path}}
    </div>
    <div class="loader">
      {{loader-ball-scale}}
    </div>
    <div class="loader">
      {{loader-line-scale}}
    </div>
    <div class="loader">
      {{loader-line-scale-party}}
    </div>
    <div class="loader">
      {{loader-ball-scale-multiple}}
    </div>
    <div class="loader">
      {{loader-ball-pulse-sync}}
    </div>
    <div class="loader">
      {{loader-ball-beat}}
    </div>
    <div class="loader">
      {{loader-line-scale-pulse-out}}
    </div>
    <div class="loader">
      {{loader-line-scale-pulse-out-rapid}}
    </div>
    <div class="loader">
      {{loader-ball-scale-ripple}}
    </div>
    <div class="loader">
      {{loader-ball-scale-ripple-multiple}}
    </div>
    <div class="loader">
      {{loader-line-spin-fade-loader}}
    </div>
    <div class="loader">
      {{loader-triangle-skew-spin}}
    </div>
    <div class="loader">
      {{loader-pacman}}
    </div>
    <div class="loader">
      {{loader-semi-circle-spin}}
    </div>
    <div class="loader">
      {{loader-ball-grid-beat}}
    </div>
    <div class="loader">
      {{loader-ball-scale-random}}
    </div>
  </div>
</main>
