<div class="container">
  <div class="row">
    <div class="col">
      <h1>Ember Loaders</h1>
      <h2 class="h4 "><em>Powered by <a href="https://connoratherton.com/loaders" title="Loaders.css">Loaders.css</a></em></h2>
      <p>Delightful and performance-focused pure css loading animations.</p>
    </div>
    <div class="col-auto">
      <a href="https://github.com/kaermorchen/ember-cli-loaders" ttile="Ember Loaders" class="btn btn-outline-primary btn-lg">View on Github</a>
    </div>
  </div>

  <div class="row loaders">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-pulse}}
      </div>
      \{{loader-ball-pulse}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-grid-pulse}}
      </div>
      \{{loader-ball-grid-pulse}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-clip-rotate}}
      </div>
      \{{loader-ball-clip-rotate}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-clip-rotate-pulse}}
      </div>
      \{{loader-ball-clip-rotate-pulse}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-square-spin}}
      </div>
      \{{loader-square-spin}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-clip-rotate-multiple}}
      </div>
      \{{loader-ball-clip-rotate-multiple}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-pulse-rise}}
      </div>
      \{{loader-ball-pulse-rise}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-rotate}}
      </div>
      \{{loader-ball-rotate}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-cube-transition}}
      </div>
      \{{loader-cube-transition}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-zig-zag}}
      </div>
      \{{loader-ball-zig-zag}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-zig-zag-deflect}}
      </div>
      \{{loader-ball-zig-zag-deflect}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-triangle-path}}
      </div>
      \{{loader-ball-triangle-path}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-scale}}
      </div>
      \{{loader-ball-scale}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-line-scale}}
      </div>
      \{{loader-line-scale}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-line-scale-party}}
      </div>
      \{{loader-line-scale-party}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-scale-multiple}}
      </div>
      \{{loader-ball-scale-multiple}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-pulse-sync}}
      </div>
      \{{loader-ball-pulse-sync}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-beat}}
      </div>
      \{{loader-ball-beat}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-line-scale-pulse-out}}
      </div>
      \{{loader-line-scale-pulse-out}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-line-scale-pulse-out-rapid}}
      </div>
      \{{loader-line-scale-pulse-out-rapid}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-scale-ripple}}
      </div>
      \{{loader-ball-scale-ripple}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-scale-ripple-multiple}}
      </div>
      \{{loader-ball-scale-ripple-multiple}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-spin-fade-loader}}
      </div>
      \{{loader-ball-spin-fade-loader}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-line-spin-fade-loader}}
      </div>
      \{{loader-line-spin-fade-loader}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-triangle-skew-spin}}
      </div>
      \{{loader-triangle-skew-spin}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-pacman}}
      </div>
      \{{loader-pacman}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-ball-grid-beat}}
      </div>
      \{{loader-ball-grid-beat}}
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="loader-wrapper">
        {{loader-semi-circle-spin}}
      </div>
      \{{loader-semi-circle-spin}}
    </div>
  </div>
</div>
